<div class="container.fluid">

    <img src="../images/landingpage.png" alt="landing Page" class=".img-responsive" id="landingpage">
</div>
<!--- Updates & News -->
<div class="container" id="updateSec" data-aos="fade">
    <div class="row">
        <div class="col-sm-12" id="headerBg">
            <h1 class="header"> Latest Updates</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" id="updateImg">
            <img class="d-block w-100 rounded-circle img-fluid" src="../images/puppies.jpg" alt="Puppies">
            <div class="updatep">
                <h1 class="updateSubHeader">Newborns </h1>
                <p> Into this beautiful world, we welcome these puppies, who will join the puppy club in a few weeks</p>
            </div>
        </div>
        <div class="col-sm-4" id="updateImg">
            <img class="d-block w-100 rounded-circle img-fluid" src="../images/newAdopt.jpg" alt="Puppies">
            <div class="updatep">
                <h1 class="updateSubHeader">New Adoption </h1>
                <p> Our latest success. We help dog centers find owners for the new and OLD puppies!</p>
            </div>
        </div>
        <div class="col-sm-4" id="updateImg">
            <img class="d-block w-100 rounded-circle img-fluid" src="../images/lazySunday.jpg" alt="Puppies">
            <div class="updatep">
                <h1 class="updateSubHeader">Lazy Sunday </h1>
                <p> Staying in during Sunday only gets better when you have your best friend beside you.</p>
            </div>
        </div>
    </div>
</div>

<!--- Fixtures -->
<div class="container" id="fixtures" data-aos="fade">
    <h1 class="header">Dog Show</h1>
    <h4 class=" d-flex justify-content-center"> Results</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Poodles Wins First at Nationals</li>
        <li class="list-group-item list-group-item-warning">Suzie comes in second at the Country Dog Show</li>
        <li class="list-group-item list-group-item-success">Leo Wins First at Worlds</li>
        <li class="list-group-item">Coming Up: November shows</li>
        <li class="list-group-item">Coming Up: Club hosted Do show</li>
    </ul>
</div>

<!-- Committee-->

<div class="container-fluid" id="committee">
    <div class="row col-sm-12">
        <div class="col-12" id="headerBg">
            <h1 class="header"> Commitee</h1>
        </div>
    </div>

    <!-- Chairperson-->
    <div class="row col-sm-12" id="chairSec">

        <p class="chairp" data-aos="fade-left" data-aos-duration="8000">

            <br><br><span>Mr. Wilson, Chairperson</span> <br>Our chairperson, has been with us for years now. <br>Working hard on making the club better and better.<br><br> Contact: 087 123 22 34 <br>Email: WilsonDrDog@gmail.com</p>
        <div class="col-12" id="image1"> <img src="/images/Chairperson.jpg" alt="chairperson image" data-aos="fade-right" data-aos-duration="3000" class="img-fluid rounded-circle" id="img1">
        </div>
    </div>

    <!-- secretary-->
    <div class="row col-sm-12" id="secSection">
        <p class="secp" data-aos="fade-left" data-aos-duration="8000">

            <br><br><span>Ms. Steven, Secretary</span> <br>Organised soul that keeps the club's business organised <br>Working furiously for success<br><br> Contact: 087 37 73 374 <br>Email: StevenMsDog@gmail.coom</p>
        <div class="col-12" id="image2"> <img src="/images/Secretary.jpg" alt="Secretary" data-aos="fade-right" data-aos-duration="3000" class="img-fluid rounded-circle" id="img2">
        </div>
    </div>

    <!-- treasurer-->
    <div class="row col-sm-12" id="chairSec">

        <p class="chairp" data-aos="fade-left" data-aos-duration="8000">

            <br><br><span>Mr. John, Treasurer</span> <br>Highly skilled with accountiny, takes on the role to manage finances of the club<br><br> Contact: 087 283 237 <br>Email: JohnDrDog@gmail.com</p>
        <div class="col-12" id="image1"> <img src="/images/Treasurer.jpg" alt="chairperson image" data-aos="fade-right" data-aos-duration="3000" class="img-fluid rounded-circle" id="img1">
        </div>
    </div>
    <!-- Newbie -->
    <div class="row col-sm-12" id="secSection">
        <p class="secp" data-aos="fade-left" data-aos-duration="8000">

            <br><br><span>Miss Betty, Newest Member</span> <br>Our latest addition to the pack, just learning the ropes.<br> Contact: 087 238 438 <br>Email: NewbiePup@gmail.com</p>
        <div class="col-12" id="image2"> <img src="/images/Newbie.jpg" alt="Secretary" data-aos="fade-right" data-aos-duration="3000" class="img-fluid rounded-circle" id="img2">
        </div>
    </div>
</div>

<div class="container" id="join" data-aos="fade">
    <div class="row col-sm-12">
        <div class="col-sm-12">
            <h1 class="header"> Join The Fun Today...</h1>
        </div>

        <div class="col-sm-12 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#myModal"> Join Us</button>
        </div>
    </div>
</div>
<!-- Modal Pop up for Join Us -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Sign Up</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="NewsLetter">Keep me updated weekly</label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
    </div>
</div>


<!------------- COMMENT SECTION ----------
<div class="container">
    <h1 class="header"> Comments</h1>
    <p class="d-flex justify-content-center" id="commentSub"> Leave Your Thoughts &#38; Queries </p>
    <form id="formInput">
        <div class="form-group">
            <label for="emailInput">@Username</label>
            <input type="name" class="form-control" id="inputName" airia-describedby="UsernameHelp" placeholder="Enter A Username">
            <small id="emailHelp" class="form-text text-muted">Barking mad to not leave a comment</small>
        </div>
        <div class="form-group">
            <label for="textArea"> Enter Comment </label>
            <textarea class="form-control" id="textArea" rows="3" cols="50" id="inputPost" placeholder="Bork Bork" maxlength="380"></textarea>
        </div>
        <div class="row">
        <div class="col-md-3">
        <!--Camera--
<i class="fa fa-camera-retro fa-lg"></i>
</div>
<div class="col-md-3">
<!--Video--
<i class="fas fa-video fa-lg"></i>
</div>
<div class="col-md-3">
<!--Bar Chart--
<i class="fa fa-chart-bar fa-lg"></i>
</div>
<div class="col-md-3">
            </div>
        </div>
<!-- Button --
<button type="text" id="postBtn" class="btn btnprimary">Post</button>
    </form>
    <div class=" panel panel-default" id="output">

    </div>
    <div class="container-fluid d-flex justify-content-center ">
        <button class="btn btn-light btn-lg" id="loadBtn">Load More Messages</button></div>
    <!--- Will initially be hidden --
    <div class="container " id="commentSec">
        <div class="container output" id="acComment">
            <p class="name"> @Chairperson</p>
            <p>Welcoming all to this small forum. If you have any queries ask away.<br> ~ Chairperson</p>
            <span class="time"> 1 week ago</span>
        </div>
    </div>

</div>
---->
