<!-- Authentication Page  
.authentication{
    background-color: #F7FBFE;
}-->
<h1 class="header sign"> Sign Up</h1>
<div class=" row d-flex justify-content-center">
        <p class="body">Register A New Account</p>
    </div>
<div class=" col-sm-12 d-flex justify-content-center">
    

    <form class="form-horizontal" role="form" id="reg-form">
        <div class="form-group mt">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <label for="inputUsername" class="control-label">Username</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <label for="inputPassword" class="control-label">Password</label>
                </div>
                <div class="col-sm-12">
                    <input type="password" class="form-control input-lg required" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <br>
                <div class=" d-flex justify-content-center">
                    <button type="submit" class="btn btn-light btn-lg">Create Account</button>
                </div>
            </div>
        </div>
    </form>
</div>

